<h1>Orders</h1>
<table class="table">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Address</th>
      <th>City</th>
      <th></th>
    </tr>
  </thead> 
  <tbody>
    <tr *ngFor="let order of service.listCheckOut">
      <td>{{ order.name }}</td>
      <td>{{ order.address}}</td>
      <td>
        {{order.city}}
      </td>
     
    </tr>
  </tbody> 
</table>
