<div class="jumbtron">
    <h1 class="display-4 text-center">CRUD</h1>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <app-device-detail></app-device-detail>
        </div>
        <div class="col-md-7">
            <app-device-detail-list></app-device-detail-list>
        </div>
    </div>
</div>
