<h2>Shipping</h2>

<form #form="ngForm">
    <div class="form-group">
      <label for="">Name</label>
      <input #Name="ngModel" name="Name" [(ngModel)]="service.formCheckOut.name" type="text" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="">Address</label>
      <input #Address="ngModel" name="Address" [(ngModel)]="service.formCheckOut.address" type="text" class="form-control" placeholder="Address" required>
     
    </div>
    <div class="form-group">
      <label for="">City</label>
      <input #City="ngModel" name="City" [(ngModel)]="service.formCheckOut.city" type="text" class="form-control" required>
    </div>
    <button 

      (click)="onSubmit(form)"
      class="btn btn-primary">Place Order</button>
  </form>  