<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)" >
        
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                        <i class="fas fa-mobile-alt"></i>
                </div>
            </div>
            <input name="Name" #Name="ngModel" [(ngModel)]="service.formData.name" class="form-control" placeholder="Device Name">
        </div>
       
    </div> 

  
    <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                            <i class="fas fa-pen"></i>
                    </div>
                </div>
                    <input name="Description" #Name="ngModel" [(ngModel)]="service.formData.description" class="form-control" placeholder="Device Description">
                </div>
               
        </div>

            
    <div class="form-group">
        <div class="input-group">
                <div class="input-group-prepend">
                   <div class="input-group-text bg-white">
                        <i class="fas fa-dollar-sign"></i>
                    </div>
                </div>
                <input name="Price" #Name="ngModel" [(ngModel)]="service.formData.price" class="form-control" placeholder="Device Price">
        </div>
                       
     </div>

     <div class="form-group">
        <div class="input-group">
                <div class="input-group-prepend">
                   <div class="input-group-text bg-white">
                    <i class="fas fa-layer-group"></i>
                    </div>
                </div>
                <input name="AllCantity" #Name="ngModel" [(ngModel)]="service.formData.allCantity" class="form-control" placeholder="Device Cantity">
        </div>
                       
     </div>

        <div class="form-group">
                <div class="input-group">
          <select name="CategoryId" #Name="ngModel" [(ngModel)]="service.formData.categoryId" class="form-control">
            <option value="0">-Select-</option>
           <option *ngFor="let cat of categoryService.listCategory" value="{{cat.name}}">{{cat.name}}</option>

          </select>
                </div>
        </div>


        <div class="form-group">
                <div class="input-group">
                        <div class="input-group-prepend">
                           <div class="input-group-text bg-white">
                            <i class="fas fa-layer-group"></i>
                            </div>
                        </div>
                        <input name="image" #Name="ngModel" [(ngModel)]="service.formData.imageName" placeholder="Imagine" value="" type="file">
                </div>
        </div>

     <div class="form-group">
         <button class="btn btn-success btn-lg btn-block" type="submit"><i class="fas fa-database"></i> Submit</button>
     </div>
</form>