<nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand text-white">Mobile Shop</a>
            <div class="md-form mt-0">
                <input name="search-control" class="form-control" type="search" placeholder="Search" aria-label="Search">
            </div>
       <div class="rows"></div>
 </nav>

<div class="container-fluid">
        <div class="row">
                <div class="col-6 col-md-2" >
                   <div class="list-group" *ngFor="let cat of service2.listCategory"> 
                        <a href=""> {{cat.name}} </a>                  
                  </div>   
                </div>                            
                <div class="col-6 col-md-7"> 
                    <div class="row">
                        <div class="rows" *ngFor="let pd of service.list" class="col-lg-4 col-md-6 mb-4" >
                                <div class="card h-100">
                                    <a href="#">
                                        <img class="card-img-top" height="200" src="{{pd.base64Image}}">
                                    </a>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            {{pd.name}}
                                        </h4>
                                        <h5>{{pd.price}} lei</h5>
                                        <p class="card-text">{{pd.description}}</p>
                                    </div>
                                    <h5 style="margin-left:1.25rem"> {{pd.category}}</h5>
                                    
                                </div>
                            </div>   
                    </div>     
                </div>
                <div class="col-6 col-md-3"> 
                    <div class="wrapper">
                        <div class="wrapped-div">
                            <div class="tab-header">
                                <h2 routerLink='/user/login' routerLinkActive='active'>Sign In</h2>
                                <h2 routerLink='/user/registration' routerLinkActive='active'>Sign Up</h2>
                            </div>
                            <div class="row">
                                <div class="col-md-10 offset-md-1">
                                     <router-outlet></router-outlet>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
         </div>
</div>
    

