<table class="table table-hover">
    <tr *ngFor="let pd of service.list">
        <td (click)="populateForm(pd)">{{pd.name}}</td>
        <td (click)="populateForm(pd)">{{pd.description}}</td>
        <td (click)="populateForm(pd)">{{pd.price}}</td>
        <td (click)="populateForm(pd)">{{pd.allCantity}}</td>
        <td (click)="populateForm(pd)">{{pd.categoryId}}</td>
        <td (click)="populateForm(pd)">{{pd.imageName}}</td>
        <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.deviceId)"></i>
        </td>
    </tr>
</table>
