<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand text-white">Mobile Shop</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/adminpanel">Admin Panel</a>
        </li>
      </ul>
      <a class="nav-link" routerLink="/transactions">Transactions</a>
      <a class="nav-link" routerLink="/shopping-cart">Shopping cart</a>
      <div class="md-form mt-0">
        <input name="search-control" class=" col-md-11" type="search" placeholder="Search" aria-label="Search">
    </div>
    <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav>

<div class="container-fluid">
  <div class="row">
          <div class="col-6 col-md-2" >
                <div class="list-group" *ngFor="let cat of categoryService.listCategory"> 
                    <a href=""> {{cat.name}} </a>                  
                </div> 
          </div>   

          <div class="col-6 col-md-7"> 
              <div class="row">
                  <div class="rows" *ngFor="let pd of service.list" class="col-lg-4 col-md-6 mb-4" >
                          <div class="card h-100">
                              <a href="#">
                                  <img class="card-img-top" height="200" src="{{pd.base64Image}}">
                              </a>
                              <div class="card-body">
                                  <h4 class="card-title">
                                      {{pd.name}}
                                  </h4>
                                  <h5>{{pd.price}} lei</h5>
                                  <p class="card-text">{{pd.description}}</p>
                              </div>
                              <h5 style="margin-left:1.25rem"> {{pd.category}}</h5>
                              <button 
                              (click)="addToCart()"
                               class="btn btn-primary">Add to cart</button>
                               
                          </div>
                      </div>   
              </div>     
          </div>
          <div class="col-6 col-md-3"> 
             
          </div>
   </div>
</div>

