<h1>Shopping Cart</h1>
<div class="card"  style="width: 80%;">
  <div class="card-body">
    <p>
      You have 0 items in your shopping cart.
      <button class="float-right btn btn-light btn-sm">Clear Shopping Cart</button>

    </p>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th class="text-center" style="width: 230px">Quantity</th>
        <th class="text-right" style="width: 200px">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td>
          <div >
          </div>
        </td>
        <td>
        
        </td>
        <td>
         
        </td>
        <td class="text-right">
        0 lei
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">0 lei</th>
      </tr>
      <tr>
        <th colspan="4">
          <a routerLink="/check-out" class="btn btn-primary">Check Out</a>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
